<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="student" class="edu.practice.Student">
    	<property name="activities">
    		<list>
    			<value>Football</value>
    			<value>Computers</value>
    			<value>Reading</value>
    			<value>Swimming</value>
    		</list>
    	</property>
    	<property name="electives">
    		<set>
    			<value>Physics</value>
    			<value>Mathematics</value>
    		</set>
    	</property>
    	<property name="score">
    		<map>
    			<entry key="physics" value="80"></entry>
    			<entry key="maths" value="85"></entry>
    		</map>
    	</property>
    	<property name="studentInfo">
    		<props>
    			<prop key="name">Sridhar</prop>
    			<prop key="id">10</prop>
    			<prop key="contact">sridhar@gmail.com</prop>
    		</props>
    	</property>
    </bean>
</beans>
